<ion-view view-title="About us">
    <ion-content>
        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-information-outline"></i>
                Carryout and delivery
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-home"></i>
                75 Github Street, Rio de Janeiro
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                (+55 21) 98765-4321
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-clock-outline"></i>
                11 AM - 11 PM
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                Card and cash
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-email-outline"></i>
                contactus@ingrids.com
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-social-facebook-outline"></i>
                Ingrid's
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-social-instagram-outline"></i>
                @ingridpizza
            </a>


        </div>
    </ion-content>
</ion-view>
